@font-face {
  font-family: Geometria-400;
  src: url(/fonts/Geometria.ttf);
}

body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

a {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
h1,
h2,
h3 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 500;
  font-size: 68px;
  line-height: 1;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.btn {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  text-transform: inherit;
  min-width: 143px;
  min-height: 40px;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
}

.container {
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

.section {
  margin-bottom: 100px;
}

/* ----HEADER------- */
.header {
}

.header-container {
  position: relative;
  background-color: transparent;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}
.header-navigtion {
}
.navigation-list {
  margin: 0;
  display: flex;
  gap: 32px;
}

.navigation-item {
  margin: 0;
}
.navigation-item > .current-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.navigation-item > .current-page::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #f7f7f7;
}
.navigation-link,
.footer-navigation-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}
.logo,
.footer-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.logo > span,
.footer-logo > span {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: #d8d7d7;
}
.header-soc {
  color: yellow;
}

.header-soc-list {
  display: flex;
  gap: 16px;
}
.header-soc-item {
  color: #f6f6f6;
}
.header-soc-icon {
  stroke: currentColor;
  fill: transparent;
}

/* -----HERO------- */
.main {
}
.hero {
  padding-top: 274px;
  padding-bottom: 48px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #121212;
  background-image: url(../images/hero/hero-desktop-1x.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 176px) 100%;
}

.hero-title {
  font-weight: 400;
  font-size: 180px;
  color: #f7f7f7;
  margin-bottom: 196px;
}

.hero-wrap {
  display: flex;
  gap: 275px;
}

.hero-text-wrap {
  display: flex;
  gap: 32px;
}

.hero-text.first {
  max-width: 338px;
}

.hero-text.second {
  max-width: 314px;
}

.hero-text {
  display: block;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}
.italic-txt {
  font-style: italic;
}
.hero-btn-list {
  display: flex;
  gap: 14px;
}

/* .hero-btn-item {
} */
.hero-book-room-btn,
.hero-book-table-btn {
  padding: 9px 24px;
  font-size: 18px;
  line-height: 1.33;
  background-color: #121212;
  color: #f7f7f7;
}

/* ----ABOUT A COMPLEX------- */
.about {
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .about-first-box {
  display: flex;
  gap: 107px;
}

.about-second-box {
  padding-left: 175px;
}

.canvas-about-first {
  min-width: 739px;
  min-height: 636px;
  background-image: url(../images/desktop/main/about-a-complex/img-2-1x.jpg),
    url(../images/desktop/main/about-a-complex/img-1-1x.jpg);
  background-size: 439px, 482px;
  background-repeat: no-repeat;
  background-position: top 209px left 300px, top 0 left 0;
  padding-top: 176px;
  padding-left: 370px;
}

.canvas-about-second {
  min-width: 1200px;
  min-height: 492px;
  background-image: url(../images/desktop/main/about-a-complex/img-3-1x.jpg),
    url(../images/desktop/main/about-a-complex/img-4-1x.jpg);
  background-size: 266px, 530px;
  background-repeat: no-repeat;
  background-position: top 127px left, top right;
}

.critic-wrap {
  max-width: 214px;
  max-height: 61px;
  display: flex;
  gap: 12px;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 14px;
}

.critic-wrap.second {
  margin-left: 563px;
}

.about-img-critic {
  min-width: 41px;
  min-height: 41px;
  border-radius: 50%;
  border: 1px solid #121212;
}
.about-img-critic.first {
  background-image: url(../images/critic_photos/critic-1-1x.jpg);
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: top -1px left -1px;
}

.about-img-critic.second {
  background-image: url(../images/critic_photos/critic-2-1x.jpg);
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: top -1px left -1px;
}

.critic-text-wrap {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.critic-name {
  font-size: 14px;
  text-transform: capitalize;
  color: #f7f7f7;
}
.critic-rating {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-transform: lowercase;
  color: #575757;
}

.critic-rating > span {
  color: #f7f7f7;
}
.about-text-wrap {
  max-width: 530px;
  padding-top: 199px;
  padding: 199px 0 0 107px;
}

.about-second-text-wrap {
  display: block;
  min-width: 263px;
  padding: 127px 0 0 320px;
  margin-bottom: 72px;
}

.about-subtext {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  color: #484848;
}
.about-text {
  font-size: 18px;
  line-height: 1.33;
  color: #121212;
}

.about-text.first {
  max-width: 473px;
  margin-bottom: 14px;
}

.about-text.second {
  max-width: 439px;
}

.about-text.third {
  max-width: 263px;
  font-size: 14px;
  line-height: 1.29;
} */

/* ----RESTAURANT */

.restaurant {
}

.restaurant-txt-btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 109px;
}
.restaurent-title-wrap {
  display: flex;
  gap: 32px;
  justify-content: baseline;
}
.restaurant-title {
  display: inline-block;
  color: #121212;
}
.restaurant-text {
  max-width: 221px;
  display: flex;
  align-items: center;
  color: #121212;
}

.restaurant-button-list {
  display: flex;
  gap: 14px;
}

.restaurant-button-item {
}
.restaurant-book-table-btn,
.restaurant-view-menu-btn {
  color: #121212;
  border-color: #121212;
}
.restaurant-view-menu-btn {
}

.slider-wrap {
  margin-bottom: 35px;
}

.container-slider {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  max-height: auto;
  outline: 1px solid red;
}
.restaurant-slider {
  display: flex;
  max-width: 1458px;
  max-height: 341px;
  margin-bottom: 35px;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px 16px 16px 32px;
  transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
  scroll-behavior: smooth;
}
.restaurant-slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.restaurant-slider::-webkit-scrollbar-track {
  background: transparent;
}
.vslider::-webkit-scrollbar-thumb {
  background: #888;
}
.restaurant-slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.restaurant-slider img:hover {
  transform: scale(1.05);
}
.restaurant-img-item {
  min-width: 266px;
}
.restaurant-img-item:not(:first-child) {
  margin: 0 16px;
}

.restaurant-img-item:first-child {
  margin-right: 16px;
}

.restaurant-img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.btn-wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-bottom: 27px;
}

.btn-wrapper:nth-child() {
  max-width: 36px;
  max-height: 36px;
}
.slider-btn-first,
.slider-btn-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(18, 18, 18, 0.3);
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  cursor: pointer;
}

.slider-btn-first {
  top: 350px;
  left: 45%;
}

.slider-btn-second {
  top: 350px;
  left: 50%;
}

.slider-btn-first:is(:hover, :focus),
.slider-btn-second:is(:hover, :focus) {
  color: rgba(18, 18, 18, 1);
}
.icon-left,
.icon-right {
  max-width: 100%;
  max-height: 100%;
  stroke: currentColor;
  fill: transparent;
}
.slider-right-btn {
}

.restaurant-img-item img.zoomed {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  transform: scale(1) translatey(0) !important;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  display: none;
}
.overlay.active {
  display: block;
}

/* -----WELCOME------ */
.welcom {
}
.welcome-img {
}
.welcome-title {
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
}
.welcome-list {
}
.welcome-item {
}
.welcome-text {
  font-weight: 400;
  color: #000000;
}

/* ----HOTEL--------- */
.hotel {
  background-color: #000000;
}
.hotel-title {
  color: #f7f7f7;
}
.hotel-text {
  color: #f7f7f7;
}
.hotel-book-room-btn,
.hotel-view-room-btn {
  color: #f7f7f7;
  background-color: #000000;
}
.hotel-view-room-btn {
}
.hotel-img {
}

/* -----LOCATION---- */
.location {
}
.location-map {
}
.location-title {
  color: #121212;
}
.address {
  display: block;
  font-style: normal;
}
.address-list {
}
.address-item {
}
.address-link,
.address-phone {
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}
.address-text {
  font-weight: 700;
  color: #121212;
}
.address-phone {
  color: #121212;
}

/* -----FOOTER---- */
.footer {
}
.footer-navigtion {
}
.footer-navigation-list {
}
.footer-navigation-item {
}
.footer-navigation-link {
  color: #121212;
}
.footer-logo {
  color: #121212;
}

.footer-logo > span {
  color: #121212;
}
.footer-soc {
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

.img-first-tab {
  display: none;
}
.img-second-tab {
  display: none;
}
.img-second-desktop {
  display: none;
}

.img-third-tab {
  display: none;
}

.img-fourth-tab {
  display: none;
}

.about-first-box-wrap,
.about-second-box-wrap {
  display: flex;
  flex-direction: column;
}

.about-first-box-wrap {
  gap: 23px;
  margin-bottom: 32px;
}

.about-first-box {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 335px;
}
.thumb-first {
  max-width: 335px;
}

.thumb-first > img {
  width: 100%;
  height: 100%;
}

.about-feedback-first,
.about-feedback-second {
  position: absolute;
  max-width: 212px;
  width: 100%;
  min-height: 61px;
  display: flex;
  gap: 12px;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 10px;
}

.about-feedback-first {
  top: 420px;
  right: 0;
}

.about-img-critic {
  width: 41px;
  height: 41px;
}
.about-img-critic > img {
  border-radius: 50%;
}

.critic-text-wrap {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.critic-name {
  font-size: 14px;
  text-transform: capitalize;
  color: #f7f7f7;
}
.critic-rating {
  max-width: 131px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-transform: lowercase;
  color: #575757;
}

.critic-rating > span {
  color: #f7f7f7;
}

.thumb-second {
  max-width: 282px;
  height: 153px;
}

.about-text-wrap {
  margin-bottom: 64px;
}

.about-subtext {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  color: #484848;
}
.about-text {
  color: #121212;
}

.about-text.first {
  margin-bottom: 14px;
}

.about-text.second {
  max-width: 335px;
}

.about-text.third {
  max-width: 263px;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.about-second-wrap {
  position: relative;
  margin-bottom: 54px;
}

.thumb-third {
  max-width: 335px;
  max-height: 311px;
}

.about-feedback-second {
  top: 89.07%;
  left: 0;
}

.thumb-fourth {
  max-width: 335px;
  max-height: 309px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .img-first-mob {
    display: none;
  }

  .img-first-tab {
    display: block;
  }

  .img-second-mob {
    display: none;
  }
  .img-second-tab {
    display: block;
  }

  .img-third-mob {
    display: none;
  }

  .img-third-tab {
    display: block;
  }

  .img-fourth-mob {
    display: none;
  }

  .img-fourth-tab {
    display: block;
  }

  .about-first-box-wrap {
    position: relative;
    margin-bottom: 32px;
  }

  .about-first-box {
    max-width: 704px;
  }

  .thumb-first {
    max-width: 482px;
    height: 636px;
  }

  .about-feedback-first {
    top: 176px;
    left: 370px;
    z-index: 1000;
  }

  .thumb-second {
    position: absolute;
    top: 209px;
    right: 0;
    max-width: 404px;
  }

  .about-text-wrap {
    padding-right: 232px;
    margin-bottom: 0;
  }

  .about-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .about-text.first {
    max-width: 472px;
    margin-bottom: 14px;
  }

  .about-text.second {
    max-width: 439px;
  }

  .about-text.third {
    max-width: 263px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 40px;
  }

  .about-second-box {
    display: flex;
    gap: 40px;
  }

  .about-second-wrap {
    padding-left: 174px;
  }

  .thumb-third {
    max-width: 530px;
    max-height: 492px;
  }

  .about-feedback-second {
    top: 303px;
    left: 67px;
  }

  .text-img-wrap {
    display: flex;
    gap: 32px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .thumb-fourth {
    max-width: 266px;
    max-height: 309px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .about-first-box-wrap {
    min-width: 739px;
    margin: 0;
  }

  .about-second-box-wrap {
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .img-second-tab {
    display: none;
  }
  .img-second-desktop {
    display: block;
  }

  .about-first-box {
    min-width: 1376px;
    display: flex;
    flex-direction: row;
    gap: 107px;
  }

  .thumb-second {
    position: absolute;
    top: 209px;
    right: 0;
    max-width: 439px;
  }

  .about-text-wrap {
    max-width: 473px;
    padding-top: 199px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .about-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .about-text.first {
    max-width: 473px;
    margin-bottom: 14px;
  }

  .about-text.second {
    max-width: 439px;
  }

  .about-text.third {
    max-width: 263px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 40px;
  }

  .about-second-box {
    display: flex;
    gap: 40px;
  }

  .about-second-wrap {
    padding-left: 87px;
    margin-bottom: 0;
  }

  .thumb-third {
    max-width: 530px;
    max-height: 492px;
  }

  .about-feedback-second {
    left: -20px;
  }

  .text-img-wrap {
    padding-top: 127px;
    gap: 54px;
    justify-content: flex-end;
  }

  .thumb-fourth {
    max-width: 266px;
    max-height: 309px;
  }
}
