@font-face {
  font-family: Geometria-400;
  src: url(/fonts/Geometria.ttf);
}

body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

a {
  display: block;
}
img {
  display: block;
  /* max-width: 100%;
  height: auto;
  width: 100%; */
}
h1,
h2,
h3 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 500;
  font-size: 68px;
  line-height: 1;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.btn {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  text-transform: inherit;
  width: 143px;
  height: 40px;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
}

/* ----HEADER------- */
.header {
  background-color: #121212;
}
.header-navigtion {
}
.navigation-list {
}
.navigation-item {
}
.navigation-link,
.footer-navigation-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}
.logo,
.footer-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  color: #f7f7f7;
}

.logo > span,
.footer-logo > span {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: #d8d7d7;
}
.header-soc {
  color: yellow;
}

/* -----HERO------- */

.main {
}
.hero {
  background: #121212;
}
.hero-title {
  font-weight: 400;
  font-size: 180px;
  color: #f7f7f7;
}
.hero-text {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}
.italic-txt {
  font-style: italic;
}
.hero-img {
}

.hero-book-room-btn,
.hero-book-table-btn {
  font-size: 18px;
  line-height: 1.33;
  background-color: #121212;
  color: #f7f7f7;
}

/* ----ABOUT A COMPLEX------- */
.about {
}
.about-title {
}
.about-img {
}
.critic-wrap {
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.critic-name {
  font-size: 14px;
  text-transform: capitalize;
  color: #f7f7f7;
}
.critic-rating {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-transform: lowercase;
  color: #575757;
}

.critic-rating > span {
  color: #f7f7f7;
}
.about-text-list {
}

.about-text-item {
}

.about-subtext {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  color: #484848;
}
.about-text {
  font-size: 18px;
  line-height: 1.33;
  color: #121212;
}

/* ----RESTAURANT */

.restaurant {
}
.restaurant-title {
  color: #121212;
}
.restaurant-text {
  color: #121212;
}

.restaurant-button-list {
}

.restaurant-button-item {
}
.restaurant-book-table-btn,
.restaurant-view-menu-btn {
  color: #121212;
  border-color: #121212;
}
.restaurant-view-menu-btn {
}
.restaurant-img-list {
}
.restaurant-img-item {
}
.restaurant-img {
}

/* -----WELCOME------ */
.welcom {
}
.welcome-img {
}
.welcome-title {
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
}
.welcome-list {
}
.welcome-item {
}
.welcome-text {
  font-weight: 400;
  color: #000000;
}

/* ----HOTEL--------- */
.hotel {
  background-color: #000000;
}
.hotel-title {
  color: #f7f7f7;
}
.hotel-text {
  color: #f7f7f7;
}
.hotel-book-room-btn,
.hotel-view-room-btn {
  color: #f7f7f7;
  background-color: #000000;
}
.hotel-view-room-btn {
}
.hotel-img {
}

/* -----LOCATION---- */
.location {
}
.location-map {
}
.location-title {
  color: #121212;
}
.address {
  display: block;
  font-style: normal;
}
.address-list {
}
.address-item {
}
.address-link,
.address-phone {
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}
.address-text {
  font-weight: 700;
  color: #121212;
}
.address-phone {
  color: #121212;
}

/* -----FOOTER---- */
.footer {
}
.footer-navigtion {
}
.footer-navigation-list {
}
.footer-navigation-item {
}
.footer-navigation-link {
  color: #121212;
}
.footer-logo {
  color: #121212;
}

.footer-logo > span {
  color: #121212;
}
.footer-soc {
}
